In [1]:
###importamos las librerias que se van utilizar
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('docs/netflix_titles.csv',sep=',')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [12]:

##devolvemos los datos de la columnas del dataframe 
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [13]:
###devolvemos las dimensiones del dataframe
df.shape

(8807, 12)

In [14]:
###limpiamos los datos y devolvemos los datos vacios del dataframe
df.isna().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           0
duration         3
listed_in        0
description      0
dtype: int64

In [15]:
###excluiremos las lineas con valores nulos de fecha y llenaremos los datos vacios del director,cast, country y rating


df["director"] = df["director"].fillna("No definido")
df["cast"] = df["cast"].fillna("No definido")
df["country"] = df["country"].fillna("No definido")
df["rating"] = df["rating"].fillna("No definido")

df = df.dropna()

In [16]:
##datos del dataframe: tipo de dato por columna
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [17]:
##accedemos a los datos unicos del dataset
df.nunique()

show_id         8794
type               2
title           8794
director        4528
cast            7682
country          749
date_added      1766
release_year      74
rating            15
duration         220
listed_in        513
description     8762
dtype: int64

In [18]:
df1 = df.copy()
df1 = df1.rename(columns={"show_id":"ID Show"
                          ,"type":"Tipo"
                          ,"title":"Titulo"
                          ,"director":"Director"
                          ,"cast":"Actores"
                          ,"country":"Pais"
                          ,"date_added":"Fecha agregado"
                          ,"release_year":"Anho publicado"
                          ,"rating":"Tipo publico"
                          ,"duration":"Duracion"
                          ,"listed_in":"Genero"
                          ,"description":"Descripcion"
                          })

df1.head()

,ID Show,Tipo,Titulo,Director,Actores,Pais,Fecha agregado,Anho publicado,Tipo publico,Duracion,Genero,Descripcion
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,No definido,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,No definido,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",No definido,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,No definido,No definido,No definido,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,No definido,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [23]:
##cambiando a formato de fecha

df1["Fecha agregado"] = pd.to_datetime(df1["Fecha agregado"],format="%b %d, %Y")
df1["Dia agregado"] = df1["Fecha agregado"].dt.day
df1["Anho agregado"] = df1["Fecha agregado"].dt.year
df1["Mes agregado"] = df1["Fecha agregado"].dt.month
df1["Anho agregado"].astype(int)
df1["Dia agregado"].astype(int)
df1["Mes agregado"].astype(int)

df1.head()

ValueError: time data "September 25, 2021" doesn't match format "%b %d, %Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [26]:
df1["Tipo"].unique()

array(['Movie', 'TV Show'], dtype=object)

In [25]:
df1["Tipo"].unique()

array(['Movie', 'TV Show'], dtype=object)

In [24]:
df1["Tipo publico"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'No definido', 'TV-Y7-FV', 'UR'],
      dtype=object)

In [27]:
###importamos los datos complementarios del caso aplicativo
rating = pd.read_csv("docs/IMDb ratings.csv",sep=",",usecols=["weighted_average_vote"])
rating.head()

   weighted_average_vote
0                    5.9
1                    6.1
2                    5.8
3                    5.2
4                    7.0

In [30]:
##leyendo los datos complementarios del caso aplicativo
titulos = pd.read_csv("docs/IMDb movies.csv",sep=",",usecols=["title","year","genre"])
titulos.head()

C:\Users\soulb\AppData\Local\Temp\ipykernel_15076\283037043.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  titulos = pd.read_csv("docs/IMDb movies.csv",sep=",",usecols=["title","year","genre"])

                         title  year                      genre
0                   Miss Jerry  1894                    Romance
1  The Story of the Kelly Gang  1906    Biography, Crime, Drama
2               Den sorte drøm  1911                      Drama
3                    Cleopatra  1912             Drama, History
4                    L'Inferno  1911  Adventure, Drama, Fantasy

In [58]:
###consolidando ambos datasets en uno
ratings2 = pd.DataFrame({"Titulo":titulos.title,
                         "Anho lanzamiento":titulos.year,
                         "Rating":rating.weighted_average_vote,
                         "Genero":titulos.genre})

ratings2.head()

,Titulo,Anho lanzamiento,Rating,Genero
0,Miss Jerry,1894,5.9,Romance
1,The Story of the Kelly Gang,1906,6.1,"Biography, Crime, Drama"
2,Den sorte drøm,1911,5.8,Drama
3,Cleopatra,1912,5.2,"Drama, History"
4,L'Inferno,1911,7.0,"Adventure, Drama, Fantasy"

In [59]:
##ahora vamos eliminar los datos vacios
ratings2 = ratings2.dropna()

In [60]:
##ahora vamos agrupar ambas tablas:: netflix y ratings de platicas
df2 = df1.merge(ratings2, on="Titulo",how="inner",suffixes=["_Netflix","_IMDB"])
df2.head()

,ID Show,Tipo,Titulo,Director,Actores,Pais,Fecha agregado,Anho publicado,Tipo publico,Duracion,Genero_Netflix,Descripcion,Anho lanzamiento,Rating,Genero_IMDB
0,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",No definido,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...,2003,2.4,Horror
1,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",1993,6.9,Drama
2,s16,TV Show,Dear White People,No definido,"Logan Browning, Brandon P. Bell, DeRon Horton,...",United States,"September 22, 2021",2021,TV-MA,4 Seasons,"TV Comedies, TV Dramas",Students of color navigate the daily slights a...,2014,6.1,"Comedy, Drama, Romance"
3,s20,TV Show,Jaguar,No definido,"Blanca Suárez, Iván Marcos, Óscar Casas, Adriá...",No definido,"September 22, 2021",2021,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...","In the 1960s, a Holocaust survivor joins a gro...",2016,5.5,Action
4,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...,1998,6.5,"Comedy, Drama, Romance"